In [1]:
import pandas as pd

In [2]:
df =pd.read_excel("2012.xlsx", encoding ='utf-8')

In [3]:
df.columns

Index(['기준연도', '기준월', '법정동코드', '시도', '시군구', '읍면', '동리', '특수지코드', '본번', '부번',
       '특수지명', '단지명', '동명', '전용면적', '층', '공시가격'],
      dtype='object')

In [4]:
df['시군구'].value_counts()

노원구     170885
은평구     102382
성북구      92227
도봉구      86781
마포구      82190
강북구      64196
중랑구      62716
서대문구     60528
동대문구     59647
성동구      58812
양천구      57650
광진구      51828
용산구      48715
종로구      26998
중구       23020
Name: 시군구, dtype: int64

In [6]:
df = df[df['시군구'] == '중구']

In [7]:
df = df [['법정동코드','전용면적','층','공시가격']]

In [8]:
df = df.reset_index()

In [9]:
df.columns

Index(['index', '법정동코드', '전용면적', '층', '공시가격'], dtype='object')

In [10]:
df

       index       법정동코드    전용면적  층       공시가격
0      26998  1114011200  304.82  1  422000000
1      26999  1114011200  147.54  3  215000000
2      27000  1114011200   44.36  2  129000000
3      27001  1114011200   50.59  2  148000000
4      27002  1114011200   62.52  2  182000000
5      27003  1114011200   44.36  3  129000000
6      27004  1114011200   50.59  3  148000000
7      27005  1114011200   62.52  3  182000000
8      27006  1114011200   44.36  4  129000000
9      27007  1114011200   50.97  4  148000000
10     27008  1114011200   59.21  4  172000000
11     27009  1114011200   66.25  5  183000000
12     27010  1114011200   65.17  5  180000000
13     27011  1114011200   50.15  1  100000000
14     27012  1114011200   56.11  1  112000000
15     27013  1114011200   87.97  1  170000000
16     27014  1114011200   50.15  2  105000000
17     27015  1114011200   56.11  2  117000000
18     27016  1114011200   55.80  2  129000000
19     27017  1114011200   60.52  2  110000000
20     27018  1114011200   35.85  2   73000000
21     27019  1114011200   29.70  2   58000000
22     27020  1114011200   50.15  3  120000000
23     27021  1114011200   56.11  3  133000000
24     27022  1114011200   55.80  3  133000000
25     27023  1114011200   60.52  3  142000000
26     27024  1114011200   35.85  3   88000000
27     27025  1114011200   29.70  3   71000000
28     27026  1114011200   50.15  4  122000000
29     27027  1114011200   56.11  4  136000000
...      ...         ...     ... ..        ...
22990  49988  1114017400   83.81 -1  244000000
22991  49989  1114017400   84.63 -1  246000000
22992  49990  1114017400   84.51 -1  245000000
22993  49991  1114017400   61.08  2  371000000
22994  49992  1114017400   63.82  2  388000000
22995  49993  1114017400   66.57  2  404000000
22996  49994  1114017400   61.08  3  371000000
22997  49995  1114017400   63.82  3  388000000
22998  49996  1114017400   66.57  3  404000000
22999  49997  1114017400   61.08  4  371000000
23000  49998  1114017400   63.82  4  388000000
23001  49999  1114017400   66.57  4  404000000
23002  50000  1114017400   62.08  2  316000000
23003  50001  1114017400   57.12  2  291000000
23004  50002  1114017400   61.05  2  311000000
23005  50003  1114017400   62.08  3  316000000
23006  50004  1114017400   57.12  3  291000000
23007  50005  1114017400   61.05  3  311000000
23008  50006  1114017400   62.08  4  316000000
23009  50007  1114017400   57.12  4  291000000
23010  50008  1114017400   61.05  4  311000000
23011  50009  1114017400   62.08  2  300000000
23012  50010  1114017400   57.12  2  276000000
23013  50011  1114017400   61.05  2  318000000
23014  50012  1114017400   62.08  3  300000000
23015  50013  1114017400   57.12  3  276000000
23016  50014  1114017400   61.05  3  296000000
23017  50015  1114017400   62.08  4  300000000
23018  50016  1114017400   57.12  4  276000000
23019  50017  1114017400   61.05  4  296000000

[23020 rows x 5 columns]

In [11]:
features=['법정동코드', '전용면적', '층']

In [12]:
X = df[features]

In [17]:
y = df['공시가격']

In [18]:
from sklearn.tree import DecisionTreeRegressor

In [23]:
model = DecisionTreeRegressor(random_state=1)

In [24]:
model.fit(X,y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [30]:
model.predict(X)

array([4.220e+08, 2.150e+08, 1.290e+08, ..., 3.080e+08, 2.835e+08,
       3.035e+08])

In [31]:
from sklearn.model_selection import train_test_split

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)

In [40]:
model.fit(X_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [41]:
model.predict(X_test)

array([1.35000000e+08, 6.01658537e+08, 7.48500000e+08, ...,
       2.19696970e+08, 2.58500000e+08, 3.86000000e+08])

In [42]:
model.score(X_test, y_test)

0.9733169333225311

In [43]:
model.predict([[1114017400,61.05,4]])

array([3.11e+08])

In [44]:
type(X_train)

pandas.core.frame.DataFrame

In [50]:
float(model.predict([[1114017400,61.05,4]]))

311000000.0

In [52]:
from sklearn.linear_model import LinearRegression

dfa

In [54]:
model = LinearRegression()

In [55]:
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [56]:
model.predict(X_test)

array([1.89550299e+08, 5.39244724e+08, 7.28419925e+08, ...,
       1.70008535e+08, 2.21917837e+08, 5.12016636e+08])

In [57]:
df.describe()

              index         법정동코드          전용면적             층          공시가격
count  23020.000000  2.302000e+04  23020.000000  23020.000000  2.302000e+04
mean   38507.500000  1.114016e+09     75.215462      8.009557  2.882297e+08
std     6645.445934  1.356157e+03     34.615431      7.400368  2.155386e+08
min    26998.000000  1.114011e+09      7.320000     -2.000000  7.600000e+06
25%    32752.750000  1.114016e+09     54.510000      2.000000  1.180000e+08
50%    38507.500000  1.114016e+09     69.425000      5.000000  2.460000e+08
75%    44262.250000  1.114016e+09     84.960000     12.000000  4.190000e+08
max    50017.000000  1.114017e+09    304.820000     37.000000  2.000000e+09

In [61]:
df['공시가격'].mean()

288229695.91659427

In [62]:
mean = int(df['공시가격'].mean())

In [63]:
df['구분'] = df['공시가격'].apply(lambda x :1 if x > mean else 0 )

In [64]:
df['구분'].value_counts()

0    13732
1     9288
Name: 구분, dtype: int64

In [65]:
from sklearn.neighbors import KNeighborsClassifier

In [66]:
features=['법정동코드', '전용면적', '층']

In [67]:
from sklearn.datasets import make_blobs

In [69]:
from sklearn.cluster import KMeans

In [70]:
X2, y2 = make_blobs(random_state=1)

In [71]:
kmeans=KMeans(n_clusters=3)

In [75]:
kmeans.fit(X2)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)